<%- include('../header') %>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- <% if(locals.success !="" ) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= locals.success %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">Table</h5>

                                        <a href="/product/add" class="btn btn-success">Add</a>
                                    </div>
                                </div>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Subcategory</th>
                                            <th scope="col">Exsubcategory</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Qnty</th>
                                            <th scope="col">price</th>
                                            <th scope="col">Image</th> 
                                            <th scope="col">Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% product.map((val,i) =>{%>
                                          <tr>
                                              <td>
                                                  <%=++i %>
                                              </td>
                                              <td>
                                                  <%= val.categoryId.category %>
                                              </td>
                                              <td>
                                                <%= val.subcategoryId.subcategory%>
                                            </td>
                                           
                                            <td>
                                                <%= val.exsubcategoryId.exsubcategory %>
                                            </td>
                                            <td>
                                                <%= val.product %>
                                            </td>
                                            <td>
                                                <%= val.description %>
                                            </td>
                                            <td>
                                                <%= val.qnty %>
                                            </td>
                                            <td>
                                                <%= val.price %>
                                            </td>
                                            <td>
                                                <img src="<%= val.image %>" width="100" alt="">
                                            </td>
                                              <th scope="row">
                                                  <a href="/product/statusChange?status=<%= val.status%>&statusid=<%= val.id %>"
                                                   class="btn text-white <%if (val.status == 'active'){%> btn-success<%}else{%> btn-danger<%}%>"><%=val.status %></a>
                                              </th>
                                              <th scope="row">
                                                 <a href="/product/deletProduct?deleteId=<%= val.id %>" class="btn bg-danger text-white">Delete</a>
                                                 <a href="/product/editProduct?editid=<%= val.id %> " class="btn bg-info text-white">Edit</a>
                                              </th>
  
                                          </tr>
                                        <%})%>
                                      </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->
                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <%- include('../footer') %>